venv/
# Byte-compiled files
__pycache__/
# Python bytecode files
*.py[cod]
# Distribution / packaging
dist/
# Installer logs
pip-log.txt
# Test coverage reports
.coverage
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# local settings file
.env
__pycache__/main.cpython-313.pyc
__pycache__/prompt_creator.cpython-313.pyc
